**Getting rates**
	1. Getting current rates.
	2. Getting last rates with no Internet.
- **Selection of important currencies**
	1. Addition of selected currencies
	2. Deletion of selected currencies
- **Searching currencies**
	1. Full name search
	2. Partial name search
- **Currencies converter**
   This use case should be tested on:
	1. Offline conversion
	2. Conversion Accuracy


**ID**|**Title**                    |**Scenario**|**Expected**|**Result**|**Actual**|**result**|**Pass/Fail**|**indication**
:-----|:----------------------------|:-----------|:-----------|:---------|:---------|:---------|:------------|:--------------
1	  |1. Launch system app "Health" 
	  |
	2. Click on tab Source