**ID**  |**Title**                                  |**Scenario**|**Expected Result**|**Actual result**|**Pass/Fail indication**
:-------|:------------------------------------------|:-----------|:------------------|:----------------|:------------------------
1	|Getting current rates(With Internet access)|<br>1. Launch system ExRates</br><br>2. Choose tab "All Currencies"</br> <br>3. Press the 'refresh' button on the right top conor</br>| The application updates rates and saves status of favorites rates| | |
2       |Getting current rates(With no Internet)    |<br>1. Launch system ExRates</br><br>2. Choose tab "All Currencies"</br> <br>3. Press the 'refresh' button on the right top conor</br>| The application shows error notification and loads saved rates| | |
3       |Addition to important                      |<br>1. Launch system ExRates</br><br>2. Choose tab "All Currencies"</br> <br>3. Press the 'star' button in front of the desired and not important currency</br>|The selected currency is added to the Home screen| | |
4       |Deletion from important                    |<br>1. Launch system ExRates</br><br>2. Choose tab "All Currencies"</br> <br>3. Press the 'star' button in front of the desired important currency</br>|The selected currency is removed from the Home screen| | |
5       |Currency search(full name)                 |<br>1. Launch system ExRates</br><br>2. Choose tab "Find"</br> <br>3. Input full name or ID name of currency</br> <br>4. Press 'Enter' or 'Search' button</br>|The app shows necessary currency| | |
6       |Currency search(partial name)              |<br>1. Launch system ExRates</br><br>2. Choose tab "Find"</br> <br>3. Input part of name or part of ID name of currency</br> <br>4. Press 'Enter' or 'Search' button</br>|The app shows matches by search| | |
7       |Currency search(partial name)              |<br>1. Launch system ExRates</br><br>2. Choose tab "Find"</br> <br>3. Input part of name or part of ID name of currency</br> <br>4. Press 'Enter' or 'Search' button</br>|The app shows matches by search| | |
8       |Currency convertion(offline)               |<br>1. Launch system ExRates</br><br>2. Choose tab "Converter"</br><br>3. Press "Plus" button </br><br>4. Choose necessery currencies</br> <br>5. Press "Menu" button</br><br>6. Input numbers in necessary field</br>|The app shows convert inputed currency to selected| | |
9       |Currency convertion(acuracy)               |<br>1. Launch system ExRates</br><br>2. Choose tab "Converter"</br><br>3. Press "Plus" button </br><br>4. Choose necessery currencies</br> <br>5. Press "Menu" button</br><br>6. Input numbers in necessary field</br><br>7. Input result in the corresponding window</br>|The inputed number and result are the same| | |





